body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 0px 256px;
    margin: 0;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    margin-left: auto;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.first {
    margin: 0;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
    padding: 128px 256px;
}

h1{
    margin: 0;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.text {
    flex-grow: 1;
    font-size: 18px;
    flex-basis: 50%;
}

.image-container {
    flex-grow: 4;
    flex-basis: 50%;
    display: flex;
    width: 1000px;
    justify-content: center;
    align-self: stretch;
    background-color: rgb(216, 216, 216);
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
    padding: 24px 128px;
}

.info {
    display: flex;
    flex-direction: row;
}

.mini {
    width: 200px;
    padding: 32px;
    text-align: center;
}

.mini img {
    width: 200px;
    border-color: rgb(0, 128, 255);
    border-style: solid;
    border-radius: 16px;
}

