header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    display: flex;
    margin-left: auto;
    list-style: none;
    gap: 8px;
}

a {
    text-decoration: none;
    color: #000;
}